{% extends '::base.html.twig' %}
{% block body %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="news-box">
                    <img src="{{ asset('template/img/blog-detail/1.jpg')}}" alt="">
                    <div class="overlay">
                        <div class="table-cont">
                            <div class="table-cell">
                                <h4>Niveau 1</h4>
                                <p class="hidden-sm hidden-xs">Pour passer le test,<br> de niveau 1, cliquer sur le bouton <br> et bonne chance...</p>
                                <a class="btn btn-warning" role="button" href="{{ path('UN_question1') }}">Passer test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="news-box">
                    <img src="{{ asset('template/img/blog-detail/2.jpg')}}" alt="">
                    <div class="overlay">
                        <div class="table-cont">
                            <div class="table-cell">
                                <h4>Niveau 2</h4>
                                <p class="hidden-sm hidden-xs">Pour passer le test,<br> de niveau 2, cliquer sur le bouton <br> et bonne chance...</p>
                                <a class="btn btn-warning" role="button" href="{{ path('DEUX_question1') }}">Passer test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="news-box">
                    <img src="{{ asset('template/img/blog-detail/3.jpg')}}" alt="">
                    <div class="overlay">
                        <div class="table-cont">
                            <div class="table-cell">
                                <h4>Niveau 3</h4>
                                <p class="hidden-sm hidden-xs">Pour passer le test,<br> de niveau 3, cliquer sur le bouton <br> et bonne chance...</p>
                                <a class="btn btn-warning" role="button" href="{{ path('TROIS_question1') }}">Passer test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="news-box">
                    <img src="{{ asset('template/img/blog-detail/1.jpg')}}" alt="">
                    <div class="overlay">
                        <div class="table-cont">
                            <div class="table-cell">
                                <h4>Niveau 4</h4>
                                <p class="hidden-sm hidden-xs">Pour passer le test,<br> de niveau 4, cliquer sur le bouton <br> et bonne chance...</p>
                                <a class="btn btn-warning" role="button" href="{{ path('QUATRE_question1') }}">Passer test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="news-box">
                    <img src="{{ asset('template/img/blog-detail/2.jpg')}}" alt="">
                    <div class="overlay">
                        <div class="table-cont">
                            <div class="table-cell">
                                <h4>Niveau 5</h4>
                                <p class="hidden-sm hidden-xs">Pour passer le test,<br> de niveau 5, cliquer sur le bouton <br> et bonne chance...</p>
                                <a class="btn btn-warning" role="button" href="{{ path('CINQ_question1') }}">Passer test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="news-box">
                    <img src="{{ asset('template/img/blog-detail/3.jpg')}}" alt="">
                    <div class="overlay">
                        <div class="table-cont">
                            <div class="table-cell">
                                <h4>Niveau 6</h4>
                                <p class="hidden-sm hidden-xs">Pour passer le test,<br> de niveau 6, cliquer sur le bouton <br> et bonne chance...</p>
                                <a class="btn btn-warning" role="button" href="{{ path('SIX_question1') }}">Passer test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}