{% extends 'base.html.twig' %}

{% block body %}

<div style="background-color: dimgrey">
    <div style="margin-right: 8%;">
        <div style="margin-left: 10%;">
            <div class="spacer60"></div>
            <br><br><br><br>
            <div class="r-bg">
                <h1>Création d'une offre</h1><a href="{{ path('offre_index') }}" style="margin-left: 90%">Toute les offres</a>

    {{ form_start(form) }}

<div style="width: 50%;margin-bottom: -27%">
        {{ form_label(form.nomOffre) }}
                <div class="input-lg">
                {{ form_widget(form.nomOffre, {'attr': { 'placeholder': 'Nom offre' } }) }}
                    </div>
                {{ form_label(form.ptventeId) }}
                <div class="input-lg">
                {{ form_widget(form.ptventeId) }}
                    </div>
                {{ form_label(form.prixinit) }}
                <div class="input-lg">
                {{ form_widget(form.prixinit, { 'attr': {  'placeholder': 'Prix initial' } }) }}
                    </div>
                {{ form_label(form.tauxRemise) }}
                <div class="input-lg">
                {{ form_widget(form.tauxRemise, { 'attr': { 'placeholder': 'Taux de remise %'} }) }}
                    </div>
</div>
                <div style="width: 50%;float: right;margin-bottom: 10%">
                    {{ form_label(form.description) }}
                    <div class="input-lg">
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description de loffre'} }) }}
                    </div><br><br><br><br>
                    {{ form_label(form.photo) }}
                    <div class="input-lg">
                        {{ form_widget(form.photo) }}
                    </div>
                </div>

        <input type="submit" class="btn btn-default btn-lg"  value="Create" style="margin-left: 50%" />


    {{ form_end(form) }}




                </div>
            </div>
        <div>
            l
        </div>
        </div>
    </div>


{% endblock %}
